<h1>Centro de mensajes</h1>
<div class="box">
    <form onsubmit="return onMessage()">
        <input required id="mail" type="text" placeholder="Ingrese correo">

        <h3>Mensajes</h3>
        <div id="messagesDiv">
        </div>
        <br>
        <input id="message" type="text" placeholder="Ingrese mensaje">
        <input type="submit" value="Enviar" />
    </form>
</div>